{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
POST
{% endblock title %}

{% block content %}
<h1>{{ post.post_title|censor }}</h1>
<br>
<h2>{{ post.time_create|date:'d.M.Y' }}</h2>
<p>
    Содержание: {{ post.post_content|censor }}
</p>
<p>
    Автор: {{ post.author }}
</p>
<p>
    ID поста: {{ post.pk }}
</p>
<p>
    Категории:
      {% for category in categories %}
       {{category}}
      {% endfor %}
</p>

{% if post.type_post == 'A' %}
    <h6>
        <a href="/articles/{{ post.pk }}/edit">
            Редактировать Статью
        </a>
    </h6>
    <h6>
        <a href="/articles/{{ post.pk }}/delete">
            Удалить Статью
        </a>
    </h6>

{% else %}
    <h6>
        <a href="/news/{{ post.pk }}/edit">
            Редактировать Новость
        </a>
    </h6>
    <h6>
        <a href="/news/{{ post.pk }}/delete">
            Удалить Новость
        </a>
    </h6>


{% endif %}


{% endblock content %}